<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Application</title>
</head>
<body>
    <div>
        <div class="container" ALIGN="CENTER"><h3>Translated LIC Appointment Letter</h3></div>
        <div>
            <div class="pull-left">Outward No: MUHS/</div><div class="pull-right">Date:       </div>
        </div>

        <pre>
        To,
            1.	Vaidya B. L. Dudhmal                                                      Chairman
                DKMM Homeopathic Medical College                         Phone: (0240) 2401051, 2400512
                And Hospital, Guru Ganesh Nagar,                         Mobile: 9890476495
                BibikaMakbara, Aurangabad Dist, - 431004                 Email: bldudhamal@gmail.com

            2.	Vaidya ShivajiBansodeMember
                Guru Mishri Homeopathic Medical College                Phone: (02482) 262482
                And Hospital, Shelgaon,                                Mobile: 9822311613
                Badanapur Tehsil, JalanaDist, - 431202                 Email: shiv.bansode@gmail.com

            3.	Dr. Ramesh Sonawane Chairman
                CSMSS`sAyurved College                                 Phone: (0240) 6646464
                And Hospital, Paithan Road,                            Mobile: 9822704937
                Kanchanwadi, Aurangabad Dist, - 431002                 Email: bldudhamal@gmail.com

            Subject: Regarding formation of Local Inspection Committee for proposed college
            Mohammad Wahed Homeopathic Medical and Research Centre, at post Anvapada,
            Bhokardan Tehsil, Jalana Dist. – 431112 of the RiyajulUlum Welfare Trust, at post Anvapada,
            Bhokardan Tehsil, Jalana Dist. – 431112 for their proposal of Consent of Affiliation for 100
            Intake Capacity for the Academic Year 2022…

            Sir / Madam,
            Above mentioned college has received No Objection Certificate from Govt. of Maharashtra
            as per the letter no. HMC-2022/CR-334/22/E-1, Dt. 28/11/2022 for intake capacity of 100 students.
            Hon`ble Vice Chancellor has formed the Local Inspection Committee and chose you as the
            chairman of the committee as it is important to inspect if the teaching staff and educational
            facilities are up to the norms of Central Council of Homeopathy / National Homeopathy
            Commission before providing Consent of Affiliation to above mentioned college.
            You are requested to visit the above mentioned proposed Homeopathy College of the trust
            and inspect the following points and submit Inspection Report to the University:
            1.	Land & Building of the College
                a.	As per the norms of Central Council of Homeopathy / National Homeopathy
                    Commission, New Delhi, the 4 acre land needed for proposed Homeopathy College
                    for 100 Intake capacity must be single contiguous piece of land owned by the trust.
                b.	7/12 extracts / Property cards / N.A. certificate in case of Govt. Land are available of
                    the land or not.
                c.	As per the norms of Central Council of Homeopathy / National Homeopathy
                    Commission, New Delhi, detailed report and clear feedback about drawing plan of
                    proposed College building and on-going work / Completed construction work of the
                    building is needed.
            2.	Trust owned 25 bedded Homeopathy Hospital and Peripheral Homeopathy Clinics, one
                per 10 students must be available.
                a.	Registration Certificate of Hospital:
                    i.	As per Bombay Nursing Home Registration Act
                    ii.	As per Under Bombay Shop Act 1948
                b.	Daily No. of OPD
                c.	Daily No. of IPD
                d.	No. of OPD at the day of Investigation
            3.	Teaching Staff
                a.	Appointment of eligible and experienced principal as well as the Appointment letter/
                    Joining letter and documents of educational qualification and experience is
                    important and must be as per the norms of Central Council of Homeopathy /
                    National Homeopathy Commission, New Delhi.
                b.	Notarized stamp of Rs 100/- of Undertaking, by President/Chairman of the Applicant
                    Trust stating that the provision teaching staff for first year will be appointed at the
                    time of First Time Affiliation, must be available.
                c.	Non-teaching staff and non-medical staff must have been appointed.
            4.	Homeopathy Herbal Garden
            5.	Building and facilities of proposed college
            6.	Hostel Facilities: a. Boys, b. Girls
            7.	Cash flow statement with budgetary provision to establish the college for next 5 years.
            8.	Library facility, Number of Books, Transport Facility, Electricity, Water Facility, etc.

            Audio – Video Recording is mandatory while inspecting the homeopathy college and the
            provision for this shall be made by the trust with its own expenditure. Local Inspection
            Committee members are informed to fill up the Inspection report format given and sign
            on each page. The signed Inspection report and pen drive containing Audio-Video
            recording shall be submitted to the University.
            TA and DA will be provided as per University norms.

                                                                                Yours

                                                                                Registrar

            Note: LIC Report Format and TA / DA for (Form 5) is available at www.muhs.ac.in
        </pre>
    </div>
</body>
</html>